@import "tailwindcss";

@theme {
    --font-display: "Inter", "sans-serif";
    --font-body: "Inter", "sans-serif";
}

/* Force Inter font */
body {
    font-family: 'Inter', sans-serif !important;
}

/* Custom Scrollbar for Admin */
.overflow-y-auto::-webkit-scrollbar {
    width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}

/* Glassmorphism Utilities */
.glass {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}